* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background: linear-gradient(to left, rgb(248, 131, 121), rgb(93, 12, 147));
}

.app {
  position: relative;
  width: 60%;
  height: 80%;
  margin:auto; 
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 70%;
  width: 50%;
  background-color:rgb(195, 177, 225);
}

.btn {
  position: absolute;
}

.previous {
  left: 12%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 3rem;
}

.next {
  right:12%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 3rem;
}

.random {
  bottom: 6%;
  width: 130px;
  height: 60px;
  font-size: 3rem;
  border-radius: 20px;
}